<div class="wp-block-cloudblocks-hero-section alignfull" style="background-color:black;background-image:url('img/{{ img }}')">
  <div class="container">
    <section class="image-" style="max-width:760px; margin:0">
      <h2 style="font-size:38px; line-height: 1.34; color:#000;">{{ title }}</h2>

      <p style="color:#000;font-size:20px" class="has-text-color">{{ desc }}</p>

      <div class="wp-block-button">
        <a class="btn btn--bigger btn--big-font" href="{{ cta.link }}">{{ cta.txt }}</a>
      </div>
    </section>
  </div>
</div>