
<div class="wp-block-starterx-employees-item employee">
  <figure class="employee__image">
    <img alt="employee img" src="img/{{ employee.img }}"></figure>
  <h3 class="employee__name">{{ employee.name }}</h3>
  <p class="employee__title">{{ employee.title }}</p>
  <p class="employee__email">
    <strong>E-mail:</strong>
    <a href="mailto:{{ employee.email }}">
      <span>{{ employee.email }}</span>
    </a>
  </p>
  <p class="employee__phone">
    <strong>Phone:</strong>
    <a href="tel:00000000">
      <span>{{ employee.phone }}</span>
    </a>
  </p>
</div>