<div class="img-txt">
  <figure class="img-txt__image" style="background-image:url('img/{{ img }}')">
    <img alt="" src="img/{{ img }}">
  </figure>
  <div class="img-txt__text">
    {% if small_heading %}
      <h3 class="img-txt__title">{{ title }}</h3>
      {% else %}
      <h2 class="img-txt__title">{{ title }}</h2>
    {% endif %}
    <p class="img-txt__desc">{{ text }}
    </p>
    <div class="img-txt__button">
      <a class="btn btn--bigger {% if btn_class %}{{ btn_class }}{% endif %}" href="https://github.com/front/gutenberg-js">
        The Starter Theme
      </a>
    </div>
  </div>
</div>
