<div class="wp-block-cloudblocks-content-in-columns--column column">
  <figure class="card__image" style="background-image:url('img/card/{{ card.img }}')">
    <img alt="" src="img/{{ card.img }}">
  </figure>
  <h3 style="text-align:{{ card.align }}">{{ card.title }}</h3>
  <p class="column__description" style="text-align:{{ card.align }}"> Since the start of the 21st century the web has become more and more integrated into… </p>
</div>